version 5.206.0
source https://nuget.org/api/v2

nuget ES.Fslog.Core
nuget FSharpLog
nuget System.Reflection.Metadata
nuget Newtonsoft.Json
nuget Argu
nuget FSharpLog
nuget FSharp.Core ~> 4.7.0

group FakeBuild
	source https://api.nuget.org/v3/index.json
	nuget Fake.Core.Target
	nuget Fake.IO.FileSystem
	nuget Fake.DotNet.MSBuild
	nuget Fake.Core.ReleaseNotes
	nuget Fake.DotNet.AssemblyInfoFile
	nuget Fake.Core.Trace
	nuget Fake.IO.Zip
	nuget Fake.Core.Process